# output dir
output*

*.pth

# compilation and distribution
__pycache__
_ext
*.pyc
*.so
wsovod.egg-info/
build/
dist/

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# Pycharm editor settings
.idea

# project dirs
/datasets/coco
/datasets/lvis
/datasets/ILSVRC2012
/datasets/proposals
/datasets/VOC*
/models